@model IEnumerable<Microsoft.ProjectOxford.Face.Contract.PersonGroup>
@{
    ViewData["Title"] = "Person groups";
}
<style>
    .row {  margin-top:30px;  }
</style>
<div class="row">
    <div class="col-md-12">
        <h2>Person groups</h2>
        <p>
            <a asp-area="" asp-controller="PersonGroups" asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.PersonGroupId</td>
                    <td>@item.Name</td>
                    <td>
                        <a asp-area="" asp-controller="PersonGroups" asp-action="Details" asp-route-id="@item.PersonGroupId">Details</a> |
                        <a asp-area="" asp-controller="PersonGroups" asp-action="Edit" asp-route-id="@item.PersonGroupId">Edit</a> |
                        <a asp-area="" asp-controller="PersonGroups" asp-action="Train" asp-route-id="@item.PersonGroupId">Train</a> |
                        <a asp-area="" asp-controller="People" asp-action="Index" asp-route-id="@item.PersonGroupId">People</a> |
                        <a asp-area="" asp-controller="PersonGroups" asp-action="Delete" asp-route-id="@item.PersonGroupId">Delete</a>
                    </td>
                </tr>
            }
        </table>
        </div>
    </div>

