@using Microsoft.ProjectOxford.Face.Contract;
@model IdentifyFacesModel

@{
    ViewBag.Title = "Identify";
    var groups = (PersonGroup[])ViewBag.PersonGroups;
}
<style>
    .row { margin-top: 30px; }
</style>
<div class="row">
    <div class="col-md-12">
        <h2>Identify</h2>
        @if (Model.Error != null)
        {
            <strong>@Model.Error</strong>
        }
        <partial name="_UploadWithPersonGroups" model="@Model" />
        @if (Model.ImageDump != null)
        {
            <br /><img src="@Model.ImageDump" width="600" style="border: 1px solid darkgray" />

            <h3>Faces</h3>
            foreach (var face in Model.IdentifiedFaces)
            {
                <div style="display:inline-block; width:10px; height:10px; background-color: @face.GetHtmlColor()"></div>
                <text>@string.Join(", ", face.PersonCandidates.Select(p => p.Value).ToArray())</text><br />
            }
        }
    </div>
</div>
